@model WebStore.Areas.User.ViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Registration";
}
<h2 class="text-center">Complete the registration process</h2>
<div asp-validation-summary="All"></div>
<form asp-controller="Account" asp-action="Register" method="post">
    <div class="form-group">
        <label asp-for="Email">Email address</label>
        <input asp-for="Email" type="email" class="form-control" aria-describedby="emailHelp">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label asp-for="FirstName">First name</label>
        <input asp-for="FirstName" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="LastName">Last name</label>
        <input asp-for="LastName" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Role">Select your role</label>
        <select asp-for="Role" class="form-control" asp-items="ViewBag.Roles">
            <option selected disabled>Choose your role here...</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Password">Password</label>
        <input asp-for="Password" type="password" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword">Confirm password</label>
        <input asp-for="ConfirmPassword" type="password" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>
