@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
@{
    ViewData["Title"] = "Roles";
}
<h2 class="text-center">Manage roles</h2>
<table class="table">
    <tr>
        <td>Role name</td>
        <td>Role action</td>
    </tr>
    @foreach(var role in Model)
    {
        <tr>
            <td>@role.Name</td>
            <td>
                <form asp-action="Delete" asp-controller="Roles" asp-route-id="@role.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-danger">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
    }
</table>
<a asp-action="Create">Add new role</a>